:root {
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-bg-color: #e5e5e5;
  --button-bg-color: #f5f4fa;
  --white-text-color: #fff;
  --futter-bg-color: #2f303a;
  --header-bg-color: #ffffff;

  --smooth-transitions: transition: color 1000ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Стили для index.html */

/* Body */
body {
  background-color: var(--header-bg-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}
/* сброс стилей */
p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 1px solid red; */
}

.list {
  list-style: none;
}

/* невидимка */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ___________________________________HEADER____________________________________________ */

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.site-nav {
  display: flex;
  align-items: center;
}



.site-nav-list .link-contact {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--title-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* tel+mail */
.site-contacts .link-contact { 
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--primary-text-color);
  
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-contact:hover,
.link-contact:focus {
  color: var(--accent-color);
}
/* _______________LOGO-HEADER____________ */
.site-nav-logo {
  text-decoration: none;
}

.site-nav-logo .site-nav-logo__web {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  color: var(--accent-color);
}

.site-nav-logo .site-nav-logo__studio {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  
  color: #000000;
}



/* _________________NAV___+__CURENT________________ */

.site-nav-list .curent {
  color: var(--accent-color);
  position: relative;
}

.curent::after {
  display: block;
  position: absolute;
  bottom: -32px;

  content: "";
  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-nav-list {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}


.site-nav-menu {
  display: flex;
  align-items: center;
}

.site-nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.contact-icon-mail {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}

.contact-icon-tel {
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}

/* ___________________________________HERO____________________________________________ */
.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url('../images/bgd-hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;

  color: var(--white-text-color);

  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.button.primary {
  display: flex;
  display: block;

  align-items: center;
  text-align: center;
  
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
  color: var(--white-text-color);
  
  cursor: pointer;
  margin: 0 auto;
  
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
}

/* ___________________________________FEATURE____________________________________________ */
.feature {
  padding-top: 94px;
  padding-bottom: 47px;
}

.feature .feature-list {
  display: flex;
}

.feature-list .feature-item {
  width: 270px;
}

.feature-list .feature-item:not(:last-child) {
  margin-right: 30px;
}

.feature-title {
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature .text {
  line-height: 1.71;
}

.feature-item-antenna::before {
  display: block;

  background: #F5F4FA;
  border-radius: 4px;
  content: '';
  width: 270px;
  height: 120px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/antenna\ 1.svg);
}

.feature-item-clock::before {
  display: block;

  background: #F5F4FA;
  border-radius: 4px;
  
  content: '';
  width: 270px;
  height: 120px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/clock\ 1.svg);
}

.feature-item-diagram::before {
  display: block;

  background: #F5F4FA;
  border-radius: 4px;
  
  content: '';
  width: 270px;
  height: 120px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/diagram\ 1.svg);
}

.feature-item-astronaut::before {
  display: block;

  background: #F5F4FA;
  border-radius: 4px;
  content: '';
  width: 270px;
  height: 120px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/astronaut\ 1.svg);
}

/* ___________________________________WORK____________________________________________ */
.work-title{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);

  margin-bottom: 50px;
}

.work {
  padding-top: 47px;
  padding-bottom: 94px;
}

.work-list {
  display: flex;
  justify-content: center;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

/* ___________________WORK-HIDDEN (полупрозрачні підложки під фото)_______________ */

.hidden-img {
  position: relative;
}

.hidden-work {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  
  background-color: rgba(47, 48, 58, 0.8);
}

.hidden-img .work-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--header-bg-color);
}

/* ___________________________________TEAM____________________________________________ */
.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.team .team-list {
  display: flex;
}

.team-list .team-item {
  text-align: center;
  height: 428px;

  background-color: var(--header-bg-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

 .team-img {
  display: block;
}

.team-list .team-content {
  padding-top: 30px;
  padding-bottom: 16px;
}

.team-item .team-item-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.team-list .team-content {
  font-size: 16px;
  line-height: 1.19;
}

/* _______TEAM-SOCIALS-ICONS (іконки соц-сітей)_____________ */

.team-list .team-social-list {
  display: flex;
  justify-content: center;
}

.team-item-soc:not(:last-child) {
  margin-right: 10px;
}

.team-social-list .team-icon-link {
width: 44px;
height: 44px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
color: #AFB1B8;
background-color: var(--header-bg-color);

transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link .team-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.team-icon-link:hover,
.team-icon-link:focus {
  background-color: #2196f3;
  color: var(--header-bg-color);
}

/* ___________________________________CLIENTS____________________________________________ */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients .clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
  color: var(--title-text-color);
}

.clients .clients-list {
  display: flex;
  justify-content: center;
}

.clients-list .clients-item-icon {
  width: 170px;
  height: 92px;
}

.clients-list .clients-item-icon:not(:last-child) {
  margin-right: 30px;
}

.clients-list .clients-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link .clients-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
/* ___________________________________FOOTER____________________________________________ */
.footer {
  background-color: var(--futter-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
  }

.logo-footer .logo-footer__web {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  
  color: var(--accent-color);
  }
  
 
.logo-footer .logo-footer__studio {
  color: var(--white-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.footer .footer-all {
  display: flex;
  }

.logo-footer {
  text-decoration: none;
}



/* __________Факт-Адресса-FOOTER____________ */
/* футер адрес */
.site-contacts .address {
  color: var(--white-text-color);
  line-height: 1.71;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-contacts .address:hover,
.site-contacts .address:hover {
  color: var(--accent-color);
}

.site-contacts .mailto,
.site-contacts .tel {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-contacts .mailto:hover,
.site-contacts .mailto:focus {
  color: var(--accent-color);
}

.site-contacts .tel:hover,
.site-contacts .tel:focus {
  color: var(--accent-color);
}

.contakts-footer {
  margin-top: 20px;
}

.foter-item:not(:last-child) {
  margin-bottom: 9px;
}

/* _________________JOIN___FOOTER_______ */

.join-box {
  margin-left: 70px;
  margin-top: 12px;
}

.join-box .join-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-bg-color);
}

.join-box .join-list {
  display: flex;
}

.join-item:not(:last-child) {
  margin-right: 10px;
}

.join-icon {
  fill: var(--header-bg-color);
}

.join-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-link:hover,
.join-link:focus {
  background-color: var(--accent-color);
}

/* __________________Email-btn--footer_________ */
.input-email-wrap {
  margin-left: 93px;
}
.text-footer {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
  color: var(--header-bg-color);
  margin-bottom: 20px;
}

.btn-email {
  position: absolute;
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height:1.88;
  letter-spacing: 0.06em;
  
  color: var(--header-bg-color);
  background: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 62px;
  margin-left: 12px;
}
.svg-email {
  margin-left: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.input-email {
  outline: none;
  padding-left: 16px;
  height: 50px;
  width: 358px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: inherit;
  
  background-color: transparent;
  color: #ffffff;
}
/* _____________________СТРАНИЦА portfolio.html_____________________________________*/
/* HEADER_Pf */
.header-portfolio {
  border-bottom: 1px solid #ECECEC;
}

/* MAIN */
.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-item:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-text-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-top-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--header-bg-color);
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(100%);
}

.portfolio-item:hover .portfolio-top-text {
  transform: translate(0);
}
.portfolio-item-wrap {
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  padding: 20px 24px;
}

.project-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project-text {
 font-size: 16px;
 line-height: 1.88;
}

/* ___________SHADOW CARTS */

.project-list .portfolio-item:hover,
.project-list .portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* _____________Стилизация кнопок______________  */
.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  font-family: inherit;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.secondary-btn {
  color: var(--title-text-color);
  background-color: var(--button-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

/* ховер и фокус для списка кнопок */
.list .link:hover,
.list .link:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
}
/* ___________________MODAL____________________________ */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  transform: translate(-50%, -50%) scale(1);
  top: 50%;
  left: 50%;
  z-index: 18;
  opacity: 1;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  min-width: 528px;
  min-height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  background-color: #fff;
  padding: 40px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal .close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 30px;
  height: 30px;
  
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  background-color: transparent;
  /* margin-left: auto;
  margin-top: 8px;
  margin-right: 8px; */

  top: 10px;
  right: 10px;
}

.modal .close-btn:hover,
.modal .close-btn:focus {
  fill: var(--accent-color);
}

/* _____________Форми модалки______________ */
.modal-form {
  display: block;
}
.modal-field{
  margin-bottom: 10px;
}
.modal-input {
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0;
  margin: 0;
  
  padding-left: 42px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.modal-input-text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal-coment {
  outline: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 10px;
  resize: none;
  margin: 0;
  padding: 0;
  margin-top: 4px;
  padding-left: 16px;
  padding-top: 12px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap {
  position: relative;
  margin-top: 4px;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* _________CHECK_BOX_____________ */

.form-checkbox {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 11px;
  margin-right: 11px;
}

.link-checkbox {
  font-size: 14px;
  line-height: 1.71; 
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  
  color: var(--accent-color);
}

.input-checkbox:checked + .label-checkbox::before {
  background-color: var(--accent-color);
  background-image: url(../images/check\ \(1\).svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 15px;
  height: 16px;
}
.label-checkbox {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  
  letter-spacing: 0.03em;
  
  color: #757575;
}
.label-checkbox::before {
  content:'';
  width: 15px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 2px;
  display: block;
  margin-right: 9px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* Кнопка Модалки */

.btn-submit {
  margin: 0 124px;
  padding: 10px 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  
  color: var(--header-bg-color);
  background-color: var(--accent-color);
}

.modal-input:focus + .input-icon {
  fill: #2196f3;
}

.modal-input:focus {
border-color: var(--accent-color)
}

.modal-coment:focus {
  border-color: var(--accent-color)
}